#container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	
}
#row1 {
	width: 960px;
	height: 149px;
	margin: 0 auto;
    background: url(images/templatemo_banner_bg.jpg) no-repeat;
}


#row1 #logo{
	float: left;
	margin: 30px 0 0 40px;
	width: 303px;
	height: 114px;
	background: url(images/templatemo_logo.png)  no-repeat;
}

#search_section {
	float: right;
	margin: 100px 20px 0 0;
}

#search_section form {
	float: right;
	margin: 0px;
	padding: 0px;
}

#searchfield {
	height: 16px;
	width: 180px;
	padding: 5px;
	margin: 0px;
	color: #ffffff;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: #af1313;
	border: 1px solid #000000;	
}

#searchbutton {
 	height: 29px;
	margin: 0px;
	padding: 4px 6px 6px 6px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color:#ffffff;
}
.row2 {
    width: 500px;
    height: 500px;
    /* display: inline; */
}

