*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url(../ai-generated-networking-building-business-background-photo.jpg);
    background-size: cover;
    background-position: center;
    height: 109vh;
    
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left ;
    height: 70px;
}
.logo{
   color: red; 
   font-size: 35px;
   font-family: Arial;
   padding-left: 50px;
   float: left;
   padding-top: 100px;
   background-image: url(../download\ \(13\).jpg) ;

}
.logo:hover{
    opacity: 0.5;
}
.menu{
    width:400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top:27px;
    font-size: 18px;
    color: blue;
    background-color: lawngreen;
    
    
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
}
ul li a:hover{
color: red;
}
.search{
    width: 249px;
    float: left;
    margin-left: 270px;
    height: 195px;
    
}

.srch{

    width: 229px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    margin-top: 3px;
    color:aliceblue;
    float: right;
    border-right: none;
    
}

.btn{
    width: 100px;
    height: 40px;
    background:white;
    border: 2px solid rgb(175, 205, 5);
    font-size: 15px;
    border-bottom-right-radius: 5px;
    
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 980px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content h1{
    font-family: 'Times New Roman';
    font-size:50px ;
    padding-left: 20px;
    margin-top: 10px;
    color: red;
    
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    line-height: 30px;

    
}
.content.cn{
    width: 400px;
    height: 50px;
    background: orange;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    
}
.content.cn a{
    text-decoration: none;
    color: blue;
    transition-duration: 3s ease;
}
.cn:hover{
    background-color: rgb(109, 11, 52);
}
.content.span{
    color: orange;
    font-size: 160px;
}
.form{
   width: 250px;
   height: 380px;
   background: linear-gradient(to top,rgba(145, 6, 82, 0.5)50%,rgba(177, 2, 131, 0.5)50%);
   position: absolute;
   top: 180px;
   left: 870px;
   border-radius: 10px;
   padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 6px;
    padding: 17px;
    cursor: pointer;
}
.form h2:hover{
background-color: aqua;
}
.form input{
    width: 240px;
    height: 35px;
    border-bottom: 2px solid red;
    border-top: none;
    border-bottom: none;
    border-left: none;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    
    font-family: sans-serif;

}
.form input:focus{
    outline: none;
}


.btnn{
    width: 240px;
    height: 40px;
    background: white;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(59, 8, 116);
    transition: 0.4s ease;
}
.btnn:hover{
    background-color:red;
    color: rgb(150, 10, 73);
}
.form.link{
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 50%;
}
img {
    width: 49px;
    float: right;
    height: 41px;
    border-radius: 41px;
}
#search_section {
	float: right;
	margin: 100px 20px 0 0;
}

#search_section form {
	float: right;
	margin: 0px;
	padding: 0px;
}
.row{
    width: 500px;
    text-align: center;
    padding: 10px;
    float: left;
    display: flex;
}
.footer h1 {
    text-align: center;
    background-color: red;
}

