*{
    margin: 2px;
}
h2{
    color: white;
}
body{
    font-size: 20px ;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 5px dotted;
}
.flex-header{
    background-color: rgb(1, 11, 11);
    padding: 3rem;
    padding-bottom: 3rem;
}
.flex-main{
    display: flex;
    background-color: rgb(187, 23, 127);
    height: 300px;
}
.flex-nav{
    background-color: blue;
    padding-top: 3rem;
    width: 400px;
    flex: 1 1 rem;
    border-radius: 50%;
    background-image: url(../artificial-forming.jpg);
    border: 10px double yellow;
}
.flex-article{
    background-color: rgb(144, 13, 85);
    padding-top: 3rem;
    width: 400px;
    flex: 1 1 5rem;
    border-radius: 50%;
    background-image: url(../artificial-forming.jpg);
    border:10px double greenyellow;
}
.flex-aside{
    background-color: rgb(0, 0, 0);
    padding-top: 3rem;
    width: 400px;
    flex: 1 1 rem;
    border-radius: 50%;
    background-image: url(../artificial-forming.jpg);
    border: 10px double yellow;
}
.flex-footer{
    background-color:black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
}
.flex-footer:hover{
    background-color: aqua;
    color: blue;
}