.container {
    border: 2px solid;
}
h1 {
    border: 2px solid;
    margin: 5px;
    height: 65px;
    text-align: center;
}
nav {
    border: 2px solid;
    margin: 5px;
    height: 50px;
    text-align: center;
    background-color: crimson;
}
.midparentrow {
    margin: 5px;
    overflow: auto;
}
.child1 {
    width: 600px;
    float: left;
}
section {
    border: 2px solid;
    width: 600px;
    text-align: center;
    background-color: red;
    height: 200px;
}
article {
    border: 2px solid;
    width: 600px;
    height: 200px;
    text-align: center;
    background-color: aqua;
}
aside {
    border: 2px solid;
    float: right;
    height: 400px;
    text-align: center;
    background-color: orange;
    width: 300px;
}
footer {
    border: 2px solid;
    margin: 5px;
    height: 50px;
    text-align: center;
    background-color: yellow;
}
