.container {
    border: 2px solid;
}
h1 {
    border: 2px solid;
    margin: 5px;
    height: 50px;
    text-align: center;
    background-color: blue;
}
nav {
    border: 2px solid;
    margin: 5px;
    height: 50px;
    text-align: center;
    background-color: crimson;
}
.midparent {
    margin: 5px;
    overflow: auto;
}
.child1 {
    float: left;
    background-color: blue;
    width: 600px;
}
section {
    border: 2px solid;
    height: 100px;
    text-align: center;
    background-color: darkviolet;
    width: 700px;
}
article {
    border: 2px solid;
    width: 700px;
    height: 100px;
    text-align: center;
    background-color: indigo;
}
aside {
    border: 2px solid;
    width: 620px;
    float: right;
    height: 200px;
    text-align: center;
    background-color: greenyellow;
}
footer {
    border: 2px solid;
    margin: 5px;
    height: 50px;
    text-align: center;
    background-color: lightgoldenrodyellow;
}